<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="MyTest">
        <classes>
            <class name="CreateAnAccountTest"/>
            <class name="BookTicketsTest"/>
            <class name="HerokuDownloadTest"/>
            <!-- Add more test classes as needed -->
        </classes>
    </test>
</suite>
