<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="com.saferailway.listeners.TestNGListener"/>
    </listeners>
    <test name="SafeRailway">
        <classes>
            <class name="com.saferailway.tests.FTTC01"/>
            <class name="com.saferailway.tests.FTTC02"/>
        </classes>
    </test>
</suite>
